img {
    max-width: 100%;
}

body {
    font-family: $font-body;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: $black;
}

.btn:focus {
    box-shadow: none;
    outline: 0;
}

.bordered {
    border: 3.5px solid $primary;
    box-sizing: border-box;
    border-radius: 6px;
    color: $white;
    padding: 13px 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.625rem; // 26px
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.block-button {
    background: $primary;
    color: $white;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.625rem; // 26px
    text-transform: uppercase;
    padding: 15.5px 31px;
}

// Rounded buttons
@for $i from 1 through 10 {
    .rounded-#{$i} {
        border-radius: #{$i}px;
    }
}

.text-italic {
    font-style: italic;
}

//line-height
.line-height-1 {
    line-height: 1;
}

.line-height-2 {
    line-height: 2;
}

.line-height-3 {
    line-height: 1.21;
}

.line-height-4 {
    line-height: 1.66;
}

.letter-spacing-1 {
    letter-spacing: 0.01em;
}

//Go To Top
#return-to-top {
    position: fixed;
    bottom: 95px;
    right: 13px;
    z-index: 9;
    background: $primary;
    color: $white;
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

::-webkit-scrollbar-thumb:hover {
    background: #022444;
}