/* Font sizes */
h1,
.h1 {
    font-size: 7.5575rem; // 120.92px
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
        font-size: 6rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 3.8rem;
    }
}

h2,
.h2 {
    font-size: 2.45125rem; // 39.22px
    margin-bottom: 0;

    @include media-breakpoint-down(lg) {
        font-size: 3rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}

h3,
.h3 {
    font-size: 2.0625rem; // 33px
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
        font-size: 2rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
    }
}

h4,
.h4 {
    font-size: 1.866875rem; // 29.87px
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
        font-size: 1.25rem;
    }
}

h5,
.h5 {
    font-size: 1.75rem; // 28px
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
    }
}

h6,
.h6 {
    font-size: 1.72rem; // 27.52px
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

h7,
.h7 {
    font-size: 1.625rem; // 26px
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h8 {
    font-size: 1.5625rem; // 25px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h9 {
    font-size: 1.55375rem; // 24.86px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h10 {
    font-size: 1.5rem; // 24px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h11 {
    font-size: 1.25rem; // 20px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h12 {
    font-size: 1.125rem; // 18px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h13 {
    font-size: 1.060625rem; // 16.97px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h14 {
    font-size: 1rem; // 16px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h15 {
    font-size: 0.875rem; // 14px
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-inter: "Inter", sans-serif;
$font-poppins: "Poppins", sans-serif;

$font-body: $font-inter;

$font-families: (
    "inter": "Inter",
    "poppins": "Poppins",
);

@each $name, $font-family in $font-families {
    .font-#{$name} {
        font-family: $font-family, sans-serif;
    }
}

$asset-path: "../webfonts/";

/* Fonts includer */
@mixin font-face($font-family, $font-file, $weight: "normal", $style: "normal") {
    @font-face {
        font-family: $font-family;
        src: local($font-file), url($asset-path + $font-file + ".woff") format("woff"),
            url($asset-path + $font-file + ".woff2") format("woff2"),
            url($asset-path + $font-file + ".eot") format("embedded-opentype"),
            url($asset-path + $font-file + ".ttf") format("truetype");
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face("Gilroy", "Gilroy-Thin", 100);
@include font-face("Gilroy", "Gilroy-Ultralight", 200);
@include font-face("Gilroy", "Gilroy-Light", 300);
@include font-face("Gilroy", "Gilroy-Regular", 400);
@include font-face("Gilroy", "Gilroy-Medium", 500);
@include font-face("Gilroy", "Gilroy-Semibold", 600);
@include font-face("Gilroy", "Gilroy-Bold", 700);
@include font-face("Gilroy", "Gilroy-Extrabold", 800);
@include font-face("Gilroy", "Gilroy-Black", 900);
@include font-face("Gilroy", "Gilroy-Heavy", 901);

$font-weights: 300, 400, 500, 600, 700, 800, 900;

@each $fw in $font-weights {
    .fw-#{$fw} {
        font-weight: $fw;
    }
}
