@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: imgUrl("banner.png") right top;

    .header-top-bar {
        padding: 48px 0;
    }

    .banner {
        padding: 231px 0 50px;
    }
}

section.bathroom {
    padding: 177px 0 84px;
}

section.about {
    background: imgUrl("about.png");
    padding: 154px 0 100px;

    ul.about-list {
        color: $white;
        list-style: imgUrl("green-tick.png", "icons");
        padding-top: 34px;

        li {
            line-height: 1.66;
            padding: 12px 0 12px 25px;
            font-size: 1.125rem; // 18px

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }

            span {
                font-weight: 800;
            }
        }
    }
}

section.cta {
    padding: 144.41px 0;

    .cta-card {
        padding: 0 24px;

        .cta-title {
            height: 105px;
            color: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.72rem; // 27.52px
            font-weight: 600;
            font-family: $font-poppins;
            line-height: 1.27;

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }

            .sm-text {
                font-size: 21.1px;
                font-weight: 400;
            }
        }
    }
}

section.about-2 {
    background: imgUrl("about-2.png") right top;
    padding: 201px 0 121px;

    ul.about-list {
        color: $white;
        list-style: imgUrl("green-tick.png", "icons");
        padding-top: 32px;
        margin-bottom: 0;

        li {
            line-height: 1.66;
            padding: 12px 0 12px 25px;
            font-size: 1.125rem; // 18px
            font-weight: 800;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }
    }
}

section.faq {
    padding: 112px 0;
    background: #161616;

    button:focus {
        outline: none;
        box-shadow: none;
    }

    .accordion-card {
        margin: 35px 0;
    }

    .accordion-container {
        width: 100%;
    }

    .accordion-head {
        background-color: $white;
        color: $dark;
        cursor: pointer;
        font-weight: 600;
        text-transform: capitalize;
        padding: 1rem;
        transition: 0.2s all;
        font-size: 1.125rem;

        @include media-breakpoint-up(xl) {
            font-size: 1.5rem; // 24px
            padding: 32px 23px;
        }

        &.active {
            background-color: $secondary;
            color: $white;
        }
    }

    .accordion-body {
        background: $dark;
        color: $light;
        display: none;
        padding: 24px 1rem;
        line-height: 2;
        font-size: 1rem; // 16px

        @include media-breakpoint-up(md) {
            padding: 34px 24px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 0.875rem;
        }
    }

    .plusminus {
        float: right;
    }
}

section.form {
    padding: 150px 0;
    background-color: #2e2e2e;

    .form-wrapper {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);

        .form-left {
            background-color: $white;
            padding: 70.78px 42px 66px 49px;

            .heading {
                font-size: 60.91px;
                font-weight: 700;
                padding-bottom: 27px;
            }

            form {
                input,
                select,
                button {
                    min-height: 50px;
                    border-radius: 12px;
                    font-size: 0.875rem;

                    @include media-breakpoint-up(md) {
                        font-size: 1rem;
                    }

                    &::placeholder {
                        color: $light;
                    }

                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }

                select {
                    color: $light;

                    option {
                        color: $dark;
                    }
                }

                button {
                    min-height: 50px;
                    font-size: 1.125rem; // 18px
                    color: $white;
                    font-weight: 700;
                    font-family: $font-poppins;

                    @include media-breakpoint-down(sm) {
                        font-size: 0.875rem;
                    }
                }

                .input-group {
                    border: 1px solid #dadada;
                    border-radius: 10px;
                    min-height: 50px;

                    @include media-breakpoint-up(md) {
                        min-height: 57.52px;
                    }
                }

                .input-group-prepend {
                    margin-right: 0;
                }

                .input-group-text {
                    border: none;
                    border-radius: 20px 0 0 20px;
                    padding: 0 0 0 14px;
                    background: transparent;
                }

                @include media-breakpoint-down(sm) {
                    button {
                        font-size: 12.33px;
                    }
                }
            }
        }

        .form-right {
            background: linear-gradient(145deg, $primary 0% 38%, #4edfe2 38% 62%, $primary 62% 100%);
            color: $white;
            padding: 40px 61px;

            ul.form-list {
                color: $white;
                list-style: imgUrl("black-tick.png", "icons");
                padding-top: 34px;
                padding-inline-start: 70px;
        
                li {
                    line-height: 1.66;
                    padding: 6px 0 6px 20px;
                    font-size: 1.5625rem; // 25px
                    font-weight: 700;
        
                    @include media-breakpoint-down(sm) {
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
}
